  html {
    overflow-y: scroll;
  }

  body {
    text-align: center;
	padding: 40px 0;
  }
  
  body, input, select {
    font-family: rubik, helvetica, arial, sans-serif;
  }
  
  select {
    font-size: 100%;
  }
  
  h1,
  h2 {
    font-family: 'roboto slab', georgia, serif;
    margin-bottom: 0;      
  }
  
  h1 {
	  color: #000;
  }
  
  #template,
  #template * {
    padding: 0;
    line-height: 0;
  }
  
  #template {
    margin: 0 0 10px;
  }
    
  select {
    margin: 0 0 12px;
  }
  
  #page {    
    margin: 0 auto;
  }

/********** PATTERN NAME **********/ 

  #name {
	margin-top: 0;
	padding-top: 0;
  }

  #name span {
	font-style: italic;
  }
  
/********** BUILDING GUIDE **********/

  #buildingGuide {
	text-align: center;
	margin: 0 auto;	
	font-size: 1.5em;
  }

  #buildingGuide td {
	width: 1.5em;
	height: 1.5em;
    padding: 0;
  }

  #buildingGuide img {
    vertical-align: middle;
    padding: 0;
  }  
  
  td.bordered {
	border: 1px solid #000 !important;
  }

  #buildHelp {
	margin-top: 0;
	padding-top: 0;
	line-height: 1.1em;
  }

  #buildHelpShow {
	margin: 3px !important;	  
  }  
  
  #buildHelpShow input {
	margin: 0 !important;
  }
  
/********** FOOTER **********/

  #footer {
	padding: 10px 10px 0px;
	clear: both;
	border: 1px dashed #999;
	border-radius: 8px;
	margin: 20px auto;
	width: auto;
	display: table;
  }
  
/********** IMAGES **********/

  canvas {
	  display: none;
  }
  
  img {
	  max-width: 100%;
	  height: auto;
  }
  
  #outputPatternImage,
  #outputTemplateImage {
	  margin-top: 3px;
  }
  
/********** LINKS **********/

  a,
  a:hover {
    color: #E5007E;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px dotted #E5007E;
  }

/********** DIVIDER **********/

  hr {
    border: 0;
    border-top: 2px solid #ddd;
    background: #fff;
    max-width: 500px;
  }

/********** BUTTONS **********/
    
  #buttons {
    margin: 10px auto 0;
	padding: 10px 10px 2px;
	border: 1px dashed #999;
	border-radius: 8px;
	width: auto;
	display: table;
  }
  
  input[type="button"] {
    background: #E5007E;
    color: #fff;
    padding: 5px 8px;
    cursor: pointer;
    border: 0;
    border-bottom: 3px solid #F17EBD;
    border-radius: 5px;
    opacity: 0.666;
    margin: 2px 0 8px;
  }
  
  input[type="button"]:hover {
    opacity: 1;
  }
  
  input[type="button"].on {
    background: #000;
    border-bottom: 3px solid #aaa;
    opacity: 1;
    cursor: default;
  }
  
/********** LAYOUT **********/

#breaker {
	clear: both;
	font-size: 1px;
}

@media (min-width: 1000px) {
	#boxPattern,
	#boxTemplate,
	#boxBuildingGuide {
		display: table-cell;
		width: auto;
		padding: 0 15px;
	}
	
	#page {
		display: table;
		width: auto;
		margin: 0 auto;		
	}
}
  